.navbar{
    background-color: transparent;
    height: 80px;
    padding: 5px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-div{
    position: fixed;
    left: 50px;
}

.right-div{
    position:fixed;
    right: 50px;
}
.right-section-loggedin{
    position: fixed;
    width: fit-content;
    right: 50px;
}

.right-section-loggedin img{
    width: 50px;
    max-height: 50px;
    border-radius: 50px;
    cursor: pointer;
}